<img class="logo" src="/images/logo.png" alt="logo">

<nav class="mob-nav">
  <a href="/index"> Home </a>
  <a href="/about"> About </a>
  <a href="/workwitherin">Workshops </a>
  <a href="/consulting"> Consulting </a>
  <a href="/events"> Events </a>
  <a href="/blog"> Blog </a>
  <a href="/contact">Contact</a>
</nav>

<hr> <!-- this is a horizontal rule, aka line -->

<nav class="social-nav">
  <!-- add your social links here -->
  <a href="https://www.facebook.com/BullShitFreeBabe/"> <i class="fa fa-facebook"></i>Facebook </a>
  <a href="https://www.instagram.com/bullshitfreebabe/"> <i class="fa fa-instagram"> </i>Instagram</a>
  <a href="https://twitter.com/ERINdopp"> <i class="fa fa-twitter"></i>Twitter</a>
  <a href="https://www.youtube.com/channel/UCNnMYOH6mVOWbNA2YPg7Dpw"> <i class="fa fa-youtube"></i>Youtube</a>
</nav>
