<!-- This is the head of your html, add content here just like you would normally add it to the head. -->

<!-- Meta Data -->
<meta charset="utf-8">

    <!-- Meta data for SEO purposes. -->
    <title> {{page.title}} </title>
    <meta name="description" content="{{page.meta-description}}">
    <meta name="keywords" content="{{page.meta-keywords}}">

    <!-- meta data to tell the browser that your devide is responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <!--  Social media sharing META Tags -->
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{page.meta-description}}">
    <meta property="og:image" content="{{page.featured-image_path}}">
    <meta property="og:url" content="{{page.url}}">
    <meta name="twitter:card" content="{{page.meta-description}}">
    <meta name="og:site_name" content="<!-- ADD SITE NAME HERE -->">

<!-- end of meta tags -->

<!-- Links to CSS Stylesheets  -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600,700" rel="stylesheet">

    <!-- Font Awesome for Icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Gridlex for a simple flexbox grid -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gridlex/2.2.4/gridlex.min.css">

    <!-- Pure Drawer for hamburger menu -->
    <link rel="stylesheet" href="/css/pure-drawer.css">

    <!-- visit http://realfavicongenerator.net to generate favicons for your site and then place them in the /images/favicons folder -->


    <!-- CUSTOM STYLESHEETS - This should always be the last stylesheet in your head -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/specific.css">

<!-- end stylesheets -->


<!-- Google Analytics -->
    <!-- paste your google analytics code here -->


<!-- end google analytics -->
