<footer class="grid">

  <!-- Column 1 -->
  <div class="col-6_sm-12">
    <img class="logo" src="/images/logo.png" alt="Brand Name Here">
    <p> Erin travels around the world leading workshops engrained in meditaiton and mindfulness based off the teachings she learned while living in The Mid East + South East Asia and her Psych Masters studies from Columbia University</p>
  </div>

  <!-- Column 2 -->
  <div class="col-3_sm-6_xs-12">
    <nav>
      <a href="/index"> Home </a>
      <a href="/about"> About </a>
      <a href="/blog"> Blog </a>
      <a href="/shop"> Shop </a>
    </nav>
  </div>

  <!-- Column 3 -->
  <div class="col-3_sm-6_xs-12">
    <nav class="social-nav">
      <!-- add your social links here -->
      <a href="#"> <i class="fa fa-facebook"></i>Facebook </a>
      <a href="#"> <i class="fa fa-instagram"> </i>Instagram</a>
      <a href="#"> <i class="fa fa-twitter"></i>Twitter</a>
    </nav>
  </div>

    {% include instagram.html %}
    <!-- Feel free to delete this, it will hurt my feelings but I'll be okay - SHANNA -->
    <small style="text-align: right">* Just a human, <a href="https://uk.linkedin.com/in/shannabarnard" target="_blank">SHANNA BARNARD</a></small>
</footer>
