<header class="grid-middle">
  <div class="col-4_sm-12">
    <a href="/index">
      <img class="logo" src="/images/logo.png" alt="Brand Name Here">
    </a>
  </div>
  <div class="col-8_sm-12 mob-hide">
    <nav class="right">
      <a href="/index"> Home </a>
      <a href="/about"> About </a>
      <a href="/workwitherin">Workshops </a>
      <a href="/consulting"> Consulting </a>
      <a href="/events"> Events </a>
      <a href="/blog"> Blog </a>
      <a href="/contact">Contact</a>
    </nav>
  </div>
</header>
